<div>
    <h1>Lista de festivales</h1>
    <br />
    <ul>
        <% festivals.each do |festival| %>
        <li>
            <%= link_to festival_path(festival) do %>
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://festival-planner-prod.s3.eu-west-3.amazonaws.com/logo-sonorama25.svg" alt="Logo sonorama" />
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><%= festival.name %></div>
                        <p class="text-gray-700 text-base">
                            Festival de  música que se celebra en Aranda de Duero, Burgos, España. Es uno de los festivales más importantes de España y cuenta con una gran variedad de artistas nacionales e internacionales.
                        </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#indie</span>
                    </div>
                </div>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>
