<div>
    <h1>Lista de festivales</h1>
    <br />
    <ul>
        <% festivals.each do |festival| %>
        <li>
            <%= link_to festival_path(festival) do %>
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://festival-planner-prod.s3.eu-west-3.amazonaws.com/logo-sonorama25.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIATYPJUR7BQFVLBSTB%2F20250602%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20250602T190406Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECsaCWV1LXdlc3QtMyJIMEYCIQDv%2FFD7xH3SDDpZr5VR2gdHWmZN%2FW3bevIHln5qZ4NR9wIhAO0mJGn6uvclYfB7iFpyNEulRbrmkTHmTP2mx62mKDY7KuMCCPT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMjU4NzI0ODkyNjExIgyaGry15ClR1DJhHagqtwJzBjcZZFGha%2BWukiVZTPN2UJYR5ySXudK5tHAgOcavrI8LDUQePoSL%2FCj4EYc%2FS2IyliyW7Lark%2BLO6YFGVkTgPvwNk%2B2ERSSbe93y51NTJQzMS%2FvOwFHG5QF4VuRLieeAScgSTpDgZGTgvB7t5M%2FMOh2XIT%2F6IX3yLG6RemPO2gj0jIoN4GJp9LQflFVoA0ChLaZLL6YZ%2BkJ1W8TvvmRYzL%2F6GIRPLjrO%2BfLzTttNntfEvXwcxQvb2bhhO0rUnAcVoii0A9bKPYiynUkC3YYnlLdE0f3x0TjDQUajCj2Ry0O99I%2FWIlFIfwHX80YFaAEkqMQenaMt0IGbXQSIHlt8CMhE6QnBj%2FzttR9w%2FA%2BWoM%2Fzk7rmdredr4dZDkF61eGuU%2BHONH%2B2ZOke8zbUzLrvuwBs5kuyiDDr6vfBBjqsAojAbsl1hIwmUngkhzrFdW61CsE8UQMEb7rx3JFx6fVORizVWqIMTsG4gHW5ugqDnn6EaFV0WVIUR0HAajg%2BZGX02KLIVM%2BqRMhrl%2BMlFhmDk4ZaG%2BTbxKSYJNHGwpUVTyKr4m4gt8RSpdHBro0Vnu7E0RwYTvL4oN62clnXTLRml47ax%2F%2FY872p%2FxeuCRh82mUzjfVHsv8s6JCnkxKqvgNDqiUyFDBrIV%2BQXAmQ9gmWipTpX2%2Fnlhn9QbEJJb8AcgYvoRQw7SpxprBS8vmqw3BQQ0vZnZ4azlbvZciKmezmXA6YmsYxLLTo6DFGACyb%2B8zAIQw3FhYZtZu%2B2qZbbxaMbN%2FDdtkggu1DYKwO6QMktbCbfP6XvJCdrrIUAUJ6mH2vBxLc78D8qHtIBA%3D%3D&X-Amz-Signature=656d878c1fcd54b2709fb3c460c45cc3c3a010dc57a740a1d39fd99c389a3328&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Foto">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><%= festival.name %></div>
                        <p class="text-gray-700 text-base">
                            Festival de  música que se celebra en Aranda de Duero, Burgos, España. Es uno de los festivales más importantes de España y cuenta con una gran variedad de artistas nacionales e internacionales.
                        </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#rock</span>
                    </div>
                </div>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>
